<div class="container my-5">
    <h1 class="mb-3">Add new contact</h1>
    <form #form3="ngForm" (ngSubmit)="editContact(contactToShow.contactId, contactToShow)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name" name="Name" [(ngModel)]="contactToShow.name" required>
          </div>
          
          <div class="form-group col-md-6">
            <label for="inputSurename">Surename</label>
            <input type="text" class="form-control" id="inputSurename" placeholder="Surename" name="Surename" [(ngModel)]="contactToShow.surename">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email" [(ngModel)]="contactToShow.email">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="Password" [(ngModel)]="contactToShow.password">
        </div>
        <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputCategory">Category</label>
            <select id="inputCategory" class="form-control" name="Category" [(ngModel)]="contactToShow.category">
                <option selected *ngFor="let category of categories" [ngValue]="category.categoryName">{{ category.categoryName }} </option>
              </select>
          </div>
          <div class="form-group col-md-2" *ngIf="contactToShow.category === 'business'">
            <label for="inputSubCategory">Sub Category</label>
            <select id="inputSubCategory" class="form-control" name="SubCategory" [(ngModel)]="contactToShow.subcategory">
                <option selected *ngFor="let subCategory of subCategories" [ngValue]="subCategory.subCategoryName">{{ subCategory.subCategoryName }}</option>
              </select>
          </div>
          <div class="form-group col-md-2" *ngIf="contactToShow.category === 'other'">
            <label for="inputWrittenSubcategory">Sub Category</label>
            <input type="text" class="form-control" id="inputWrittenSubcategory" placeholder="subcategory" name="WrittenSubcategory" [(ngModel)]="contactToShow.subcategory">
          </div>
          <div class="form-group col-md-3">
            <label for="inputPhone">Phone</label>
            <input type="tel" class="form-control" id="inputPhone" name="Phone" [(ngModel)]="contactToShow.phoneNumber">
          </div>
          <div class="form-group col-md-2">
            <label for="inputDateOfBirth">DateOfBirth</label>
            <input type="datetime-local" class="form-control" id="inputDateOfBirth" name="BirthDate" [(ngModel)]="contactToShow.birthDate">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</div>
